@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@model MyMovies.ViewModels.MovieDetailsModel

@{
    ViewBag.Title = "Movie details";
}

<h1>@Model.Title</h1>
<img src="@Model.ImageURL" alt="Alternate Text" />
<h2>Description: @Model.Description.</h2>
<h2>Duration: @Model.Duration. </h2>

<hr />
<h3>Comments</h3>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Comments" asp-action="Add" method="post" style="width: 80%">
        <input type="text" name="movieId" value="@Model.Id" hidden />
        <div class="form-group">
            <textarea type="text" name="comment" class="form-control" cols="20" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
}


@foreach (var comment in Model.Comments.OrderByDescending(x=>x.DateCreated))
{
<div style="padding:2px; margin: 2px; border1px solid black; background-color:aquamarine; border-radius:10px; width: 350px">
    <h6>@comment.Username</h6>
    <p>@comment.Message</p>
    @if (((DateTime.Now - comment.DateCreated).TotalMinutes) < 60)
    {
        <h6>@Math.Floor((DateTime.Now - comment.DateCreated).TotalMinutes) min</h6>
    }
    else
    {
        if (((DateTime.Now - comment.DateCreated).TotalMinutes) < 1440)
        {
            <h6>@Math.Floor((DateTime.Now - comment.DateCreated).TotalHours) h</h6>
        }
        else
        {
            <h6>@Math.Floor((DateTime.Now - comment.DateCreated).TotalDays) days</h6>
        }
    }
</div>
}
