@model List<MyMovies.Models.Movie>

@{
    ViewBag.Title = "Manage movie";
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success m-3" role="alert" style="width:800px">
        @ViewBag.Message
    </div>
}
else
{
    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success m-3" role="alert" style="width:800px">
            @ViewBag.SuccessMessage
        </div>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-success m-3" role="alert" style="width:800px">
            @ViewBag.ErrorMessage
        </div>
    }

    <p>
        <a href="/Movies/Create" class="btn btn-success">Create</a>
    </p>
    <div class="row w-50 m-5 p-5">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model)
                {
                    <tr>
                        <td>@movie.Id</td>
                        <td>@movie.Title</td>
                        <td class="text-center">
                            <a href="/Movies/Update/@movie.Id" class="text-primary">Modify</a> |
                            <a href="/Movies/Delete/@movie.Id" class="text-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
