@model IEnumerable<MyMovies.ViewModels.ManageOverviewUsersModel>

@{
    ViewBag.Title = "ManageOverview";
}

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success m-3" role="alert" style="width:800px">
        @ViewBag.SuccessMessage
    </div>
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger m-3" role="alert" style="width:800px">
        @ViewBag.ErrorMessage
    </div>
}

<div class="row justify-content-center w-50 m-5 p-5">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>IsAdmin</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
            <tr class="text-center">
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>@Html.DisplayFor(modelItem => user.IsAdmin)</td>
                <td>
                    @if (user.IsAdmin)
                    {
                        <a href="/Users/ToggleAdminRole/@user.Id" class="text-danger">Remove admin role</a>
                    }
                    else
                    {
                        <a href="/Users/ToggleAdminRole/@user.Id" class="text-success">Add admin role</a>

                    }
                </td>
                <td class="text-center">
                    <a href="/Users/Delete/@user.Id" class="text-danger">Delete</a>
                </td>
                <td class="text-center">
                    <a href="/Users/Update/@user.Id" class="text-danger">Modify</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

